body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    padding: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ff0000;
    text-align: center;
    font-size: 4rem;
}

p {
    color: #ffe600;
    line-height: 1.6;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

button {
    color: #ffe600;
    font-size: 1.25rem;
    margin: 1rem auto 0;
    display: block;
    background-color: #790000;
    border-color: #ffe600;
    padding: 10px 15px;
    cursor: pointer;
}
